.workflow-list-title {
    height: 58px;
    background: rgba(245, 245, 250, 1);
    box-shadow: -2px 0 2px #888;
    overflow: hidden;
}

.workflow-list-title>h2 {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 58px;
    float: left;
    text-indent: 20px;
}

.workflow-list-title .workflow-list-title-menu {
    float: right;
    line-height: 58px;
}

.workflow-list-title .workflow-list-title-menu>span {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
    line-height: 40px;
    cursor: pointer;
}

.select-option-component-box {
    margin: 8px;
    /* float: left;
    width: 100%; */
}

.select-option-component-box-muen {
    width: 240px;
}

.select-option-component-box {
    overflow: hidden;
    display: flex;
}

.select-option-component-box-muen {
    /* float: left; */
}

.select-option-component-box-table {
    width: -moz-calc(100% - 230px);
    width: -webkit-calc(100% - 230px);
    width: calc(100% - 230px);
    background: #fff;
    margin-left: 5px;
}

.select-option-component-box-muen {
    background: #fff;
}

.compile-left,
.compile-right {
    width: 393px;
    /* height: 30px; */
    float: left;
}

.compile-right {
    margin-left: 30px;
}

.compile-left-box {
    overflow: hidden;
    margin: 20px 0;
}

.compile-left-box>label {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 40px;
    width: 100px;
    text-align: right;
    display: block;
    float: left;
}

.compile-left-box input {
    display: block;
    float: left;
    width: 240px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}

.rxa {
    margin-left: 22px;
}