<!-- {{value|json}} -->
<!-- {{fields|json}} -->
<div nz-row nzType="flex" nzJustify="space-between" *ngIf="value&&fields">
    <!-- <p *ngFor="let d of fields">{{d.dataField}}:{{value[d.dataField]}}</p> -->
    <ng-container *ngFor="let d of fields;">
        <!-- <p>{{d.dataField}}:{{value[d.dataField]}}</p> -->
        <ng-container>
            <dynamic class="compile-left" [value]="value" [dynamic]="d" (valueChange)="doValueChange($event)">
            </dynamic>
        </ng-container>
    </ng-container>

</div>